
* {
  outline: none;
}

div.logo-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

img.img-logo{
  width: 50%;
}

div.columns{
  width: 100vw;
  display:flex;
}

div.column{
  padding:0;
  margin:0;
  object-fit: cover;
}

div.column img:hover{
  opacity: 0.8;
}

div.column h2.desc{
  text-align: center;
  padding: 10px;
}

div.modal-prod{
  visibility: hidden;
}

div.modl{
}

div.cua{
  width: 100px;
  height: 100px;
  background-color: blue;
}

@media (max-width: 500px) {
  p.logo{
    font-size: 30px;
    color:pink;
  }

  div img.net {
    width: 80%;
    height: auto;
  }

  div.columns{
    flex-direction: column;
  }

  img.img-logo{
    width: 100vw;
}
