@media(max-width:600px){

  article.contact section.form .grid-container{
    width: 350px;
    grid-template-columns: auto;
  }

  article.contact section.form .grid-container .email{
    grid-row: 3;
    grid-column: 1;
  }
}
